/* typography 
Font size (paragraph): 18px
 /*Font Family: Outfit - weights: 300, 400, 600 */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* Simple CSS reset */

* {
    /*margin: 0px;
    padding: 0px;*/
    box-sizing: border-box;
    font-size: 18px;
    font-family: Outfit;
    transition: all 0.2s ease-in;
    text-decoration: none;
    line-height: 1.5;
}
/*a {
    text-decoration: none;
}
*/

:root {
/* colors */
/* Primary */

--soft-blue: hsl(215, 51%, 70%);
--cyan: hsl(178, 100%, 50%);

/* Neutral */

--very-dark-blue-main-BG: hsl(217, 54%, 11%);
--very-dark-blue-card-BG: hsl(216, 50%, 16%);
--very-dark-blue-line: hsl(215, 32%, 27%);
--white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--very-dark-blue-main-BG);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 300px;
    margin: auto;
    padding: 20px;
    background-color: var(--very-dark-blue-card-BG);
}

.first-container {
    display: block;
    position: relative;
    top: 0;
   
}

.main-image {
    position: relative;
    top: 20px;

    display: block;
    width: 100%;
        
    
    border-radius: 10px;
}

a > .first-container:hover {
    position: absolute;
    background-image: url(./images/icon-view.svg);
    
    background-color: var(--cyan);
    background-size: cover;
    width: 300px;
    height: 300px;
    z-index: 3;
}








/* Footer */
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);

  }