/* typography 
Font size (paragraph): 18px
 /*Font Family: Outfit - weights: 300, 400, 600 */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* Simple CSS reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Outfit;
    transition: all 0.2s ease-in;
    text-decoration: none;
    line-height: 1.5;
}
/*a {
    text-decoration: none;
}
*/

:root {
/* colors */
/* Primary */

--soft-blue: hsl(215, 51%, 70%);
--cyan: hsl(178, 100%, 50%);

/* Neutral */

--very-dark-blue-main-BG: hsl(217, 54%, 11%);
--very-dark-blue-card-BG: hsl(216, 50%, 16%);
--very-dark-blue-line: hsl(215, 32%, 27%);
--white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--very-dark-blue-main-BG);
    margin-top: 100px;
    
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: auto;
    padding: 20px;
    background-color: var(--very-dark-blue-card-BG);
    border-radius: 10px;
}
    /* First container aligment */
.first-container {
    display: flex;
    position: relative;
    
}

.hover-container {
    /* Box size and aligment */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* box visuality */
    opacity: 0;
    background-color: var(--cyan);
}

.hover-container:hover {
    opacity: 0.5;
    cursor: pointer;
}

.main-image {
    width: 100%;
    border-radius: 10px;
    background-size: contain;
}
.second-container {
    padding: 10px 0;
    color: var(--white);
    
}
.second-container>h1:hover {
    color: var(--cyan);
}

.third-container {
    padding: 10px 0;
    color: var(--soft-blue);
    
}

.fourth-container {
    
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.subcard-four {
}

.fifth-container {
    margin: 25px 0;
}

/* Footer */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);

}